@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-color: var(--main-bg);
}

a {
	text-decoration: none;
	color: unset;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 10px;
}
