.header {
	padding: 25px 0 0 0;
}

.nav {
	width: 100%;
}

.nav::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	margin: 32px 0 0 0;
	background-color: var(--font-gray);
}

.nav-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-link {
	color: var(--font-gray);
	font-size: 18px;
	font-weight: 700;
	position: relative;
}

.nav-link::after {
	content: '';
	position: absolute;
	left: 0;
	right: 100%;
	bottom: -2px;
	height: 1px;
	background-color: var(--font-black);
	transition: right 0.4s ease;
}

.nav-link:hover {
	color: var(--font-black);
}

.nav-link:hover::after {
	right: 0;
}

@media (max-width: 480px) {
	.header {
		display: none;
	}
}
