.history {
	padding: 65px 0 70px;
	text-align: center;
	color: var(--font-black);
}

.history-title {
	font-size: 34px;
	font-weight: 700;
}

.history-img {
	max-width: 950px;
	width: 100%;
	height: 655px;
	object-fit: cover;
	margin: 70px 0 0;
}

.history-description {
	font-size: 18px;
	font-weight: 500;
	margin: 30px 0 0;
}

@media (max-width: 480px) {
	.history {
		padding: 50px 0 70px;
	}
	.history-img {
		margin: 50px 0 0;
		height: 480px;
	}
	.history-description {
		font-size: 14px;
	}
}
