.portfolio {
  text-align: center;
  padding: 80px 32px 110px;
  background-color: var(--main-gray-bg);
  color: var(--font-black);
}

.portfolio-title {
  font-size: 34px;
  font-weight: 700;
  margin: 0 0 76px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.portfolio-img {
  width: min(100%, 950px);
  height: min(100%, 630px);
  object-fit: contain;
}

.portfolio-description {
  font-size: 18px;
  font-weight: 500;
  margin: 40px 0 0;
}

@media (max-width: 480px) {
  .portfolio {
    padding: 42px 32px 50px;
  }
  .portfolio-title {
    margin: 0 0 50px;
  }
  .portfolio-description {
    margin: 30px 0 0;
    font-size: 14px;
  }
  .portfolio-list {
    gap: 50px;
  }
}