@import url('./css/basic.css');
@import url('./css/variables.css');
@import url('./css/header.css');
@import url('./css/home.css');
@import url('./css/about.css');
@import url('./css/history.css');
@import url('./css/portfolio.css');
@import url('./css/contacts.css');
